html, body {
  margin: 0;
  padding: 0;
  font-family: "Futura PT Demi";
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 100;
  background-color: black;
  color: #eee;
  width: 100%;
  height: 100%;
}

main .heading {
  font-size: 5rem;
  text-align: center;
  position: relative;
  top: 50vh;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

main .heading span {
  width: 3.6vw;
  padding-right: 0.5vw;
  display: inline-block;
}

main .afisha {
  position: relative;
  top: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 8vw;
  padding-bottom: 5vw;
}

.afisha .event-1, .event-2, .event-3, .event-4, .event-5 {
  margin-top: 2vw;
}

.text-1, .text-2, .text-3, .text-4, .text-5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.afisha h2 {
  font-family: "Futura PT Demi";
  margin-top: 5vw;
  margin-bottom: 3vw;
  margin-left: 1vw;
  margin-right: 20vw;
  letter-spacing: 0.1vw;
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.afisha hr {
  float: left;
  margin-left: 2vw;
  width: 80vw;
  height: 1px;
  border: none;
  color: black;
  background-color: black;
}

.afisha p {
  font-family: "Futura PT Light";
  font-size: 1.5rem;
  color: white;
  margin-top: 5vw;
  transform: rotate(-90deg);
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.animation-container span {
  color: whitesmoke;
  display: block;
  font-size: 18px;
  font-family: 'Helvetica';
  text-shadow: 0 0 1px white;
  position: absolute;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  opacity: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

/*
body {
  font-size: 1vw;
}

.heading {
  background-color: black;
  height: 100vh;
}

h1 {
  font-family: "Futura PT Demi";
  font-size: 5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20%;
}

p {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
} */
